*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
   font-family: "Lato", sans-serif;
  /* line-height: 1.6px; */
}
.headertop{
  background-color: #f7a6bd;
  width: 100%;
  height: 30px;
}

.headertop ul{
  float: right;
  margin-right: 10%;
}
.headertop li{
  float: left;
  /* margin-right: 10%; */
  list-style: none;
  padding-right: 10px;
  /* padding-left: 10px; */
  font-size: 0.8ev;
  margin-top: 5px;
  color: rgb(241, 241, 241);
  
  
}
.headertop span{
  margin-right: 10px;
  cursor: pointer;
}
.headertop span:hover{
  color: white;
}
.headertop p{
  color: white;
  font-size: 0.8em;
  padding-top: 8px;
  margin-left: 15%;
  float: left;
  
}
.footerlast{
  background-color: #333;
  width: 100%;
  height: 400px;
  
}
.flt{
  float: right;
  margin-top: 30px;
  margin-right: 12%;
  
}
.flt button{
  
  background-color:  rgba(255,255,255,0.1);
  width: 60px;
  height: 35px;
  font-size: 12px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
}
.flm{
  float: left;
  margin-top: 5%;
  margin-left: 13%;
  margin-right: 12%;
}
.flm li{
  float: left;
  list-style: none;
  color: rgba(243, 239, 239, 0.418);
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.flme{
  float: left;
  margin-left: 13%;
  margin-right: 12%;
}
.flme hr{
  margin-bottom: 10px;

  border-color: rgba(158, 157, 157, 0.418);
}
.flme p{
  color: rgba(250, 250, 250, 0.616);
  font-size: 16px;
}
.flmle hr{
  margin-top: 30px;
  border-color: rgba(102, 102, 102, 0.418);
}
.flmle p{
  color: rgba(228, 220, 220, 0.418);
  padding-top: 10px;
  text-align: center;
}
.flmle h4{
  text-align: center;
  margin-top: 5px;
  color: rgba(206, 202, 202, 0.418);
}
.footertop{
  width: 100%;
  height: 500px;
  background-color: rgb(82, 80, 80);
  
}
.footerbox{
  
  margin-right: 10%;
  margin-left: 15%;
  padding-top: 50px;
  padding-bottom: 30px;
}
.ffirst {
  width: 24%;
  height: 400px;
  float: left;
  
}
.ff1 h4{
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
}
.ff1 p{
  margin-bottom: 10px;
  color: white;
  
}
.ff2{
  margin-top: 20px;
}
.ff2 h4{
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 35px;
}
.ff3{
  margin-top: 20px;
}
.ff3 h4{
  color: white;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.ff2 p{
  margin-bottom: 10px;
  color: white;
  
  
}
.fsecond{
  width: 24%;
  height: 400px;
  float: left;
  margin-left: 10px;
}
.fthird{
  width: 24%;
  height: 400px;
  float: left;
  margin-left: 10px;
}
.ff2 button{
  width: 90%;
  height: 30px;
  background: transparent;
  border: 2px solid  white;
  border-radius: 50px;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.ff2 button:hover{
  background-color: #f7a6bd;
  cursor: pointer;
}
.footersearch input{
  width: 70%;
  height: 40px;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;
  border: none;

}
.footersearch button{
  width: 18%;
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 40px;
  background-color: rgb(67, 67, 219);
  margin-top: 3px;
  padding-bottom: 5px;
}
.footersearch button:hover{
  background-color: rgb(67, 67, 219);
}

.ff4 button{
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid  white;
  border-radius: 50px;
  margin-right: 10px;
  color: white;
  /* margin-bottom: 20px; */
  /* margin-top: 10px; */
  text-align: center;
  font-weight: bold;
  /* font-size: 20px; */
}
.fb:hover{
  cursor: pointer;
  background-color: rgb(67, 67, 219);
}
.insta:hover{
  cursor: pointer;
  background-color: palevioletred;
}
.twit:hover{
  cursor: pointer;
  background-color: rgb(67, 67, 219);
}
.ffourth{
  width: 24%;
  height: 400px;
  float: left;
  margin-left: 10px;
}
.ratedproducts{
  width: 100%;
  height: 500px;
  background-color: white;
}
.ratedbox{
  width: 70%;
  height: 480px;
  margin-left: 17%;
  margin-right: 10%;
  padding-top: 30px;
  padding-bottom: 20px;
}
.rated1{
  width: 22%;
  height: 500px;
  float: left;
  margin-right: 10px;
}
.rated2{
  width: 24%;
  height: 500px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}
.rated3{
  width: 24%;
  height: 500px;
  float: left;
  margin-right: 1%;
}
.rated4{
  width: 24%;
  height: 500px;
  float: left;
  margin-right: 1%;
}
.ratedbox h4{
  color: grey;
  font-size: 16px;
  margin-bottom: 20px;
}
.review{
  width: 80%;
}
.review img{
  width: 30%;
  height: 55px;
  float: left;
  margin-right: 15px;
}
.review h2{
  font-size: 16px;
}
.review p{
  font-size: 16px;
  
  margin-bottom: 5px;
}
.rated hr{
  margin-top: 10px;
 
  border-color: rgba(158, 157, 157, 0.418);
}
.about{
  width: 100%;
  height: 500px;
  
}
.abouts{
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 50px;
  text-align: center;

}
.abouts h2{
  color: #d3567a;
  margin-bottom: 20px;
  font-size: 20px;
}
.abouts p{
  margin-bottom: 15px;
  text-align: left;
  word-spacing: 2px;
  letter-spacing: 0.5px;
  color: rgb(119, 119, 119);
  font-size: 16px;
  
}
.decorate{
  width: 100%;
  height: 500px;
  
}
.dec{
  /* background-color: red; */
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height: 500px;
}
.dechead{
  margin-left: 5%;
}
.dechead hr{
  width: 30%;
  float: left;
  margin-top: 10px;
}
.dechead h3{
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}

@media only screen and (max-width:1580px){
  
  
}
@media only screen and (max-width:1080px){
  .footertop{
    width: 100%;
    height: 550px;
  }
  .footerbox h4{
    font-size: 24px;
  }
  .footerbox p{
    font-size: 18px;
  }
  .footerlast{
    width: 100%;
    height: 550px;
  }
  
}
@media only screen and (max-width:780px){
  
  .footertop{
    width: 100%;
    height: 650px;
  }
  .footerbox{
    margin-right: 1%;
    margin-left: 1%;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .footerbox h4{
    font-size: 18px;
    margin-left: 0px;
    
  }
  .footerbox p{
    font-size: 14px;
  }
  .footerlast{
    width: 100%;
    height: 650px;
  }
  .ratedbox{
    width: 70%;
    height: 600px;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .ratedbox h4{
    font-size: 16px;
  }
  
}
@media only screen and (max-width:580px){
  
  .footertop{
    width: 100%;
    height: 800px;
  }
  .footerlast{
    width: 100%;
    height: 800px;
  }
  
}